<ion-toolbar>
  <ion-title *ngIf="user_org!=undefined">{{user_org.name}}</ion-title>
  <ion-button slot="end" fill="clear" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon>&nbsp;Logout</ion-button>
</ion-toolbar>

<ion-content [fullscreen]="true">


  <ion-list class="ion-padding">
    <ion-list-header>New organization?</ion-list-header>
    <ion-item>

      <ion-input placeholder="Organization name" [formControl]="organizationName"></ion-input><ion-button slot="end" expand="block" fill="outline" (click)="newOrganization()">Create organization</ion-button>
    </ion-item>
    <br>


    <ion-list>
      <ion-item *ngFor="let o of organizations">
      {{o._fields[0].name}}
        <ion-button *ngIf="user_org._id.low!=o._fields[0]._id.low" fill="outline" slot="end" (click)="joinOrganization(o._fields[0]._id.low)">Join</ion-button>
        <ion-button color="success" disabled="true" *ngIf="user_org._id.low==o._fields[0]._id.low" fill="outline" slot="end">Your organization</ion-button>
      </ion-item>
    </ion-list>

  </ion-list>


</ion-content>
