<ion-content [fullscreen]="true">

  <ion-card *ngIf="decoded_token.organization!=undefined" class="ion-padding">
    <ion-card-title>Organization name</ion-card-title>
  </ion-card>

  <ion-list class="ion-padding">
    <ion-list-header>New organization?</ion-list-header>
    <ion-item>
      <ion-label position="floating">Organization name</ion-label>
      <ion-input [formControl]="organizationName"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" fill="outline" (click)="newOrganization()">Create and join organization</ion-button>

    <ion-card *ngFor="let o of organizations">
      {{o._fields[0].name}}
      {{o._fields[0]._id.low}}
    </ion-card>
  </ion-list>

  <ion-button (click)="logout()">Logout</ion-button>

</ion-content>
