<ion-toolbar>
  <ion-button fill="clear" slot="start">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-button fill="clear" slot="end">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content [fullscreen]="true">


<div>


    <ng-template #recursiveList let-list>
      <ion-card *ngFor="let item of list">
        <ion-button (click)="expand(item)">Expand</ion-button>
        {{item | json}}
        <div *ngIf="item.children">{{item.children.length}}</div>

        <li *ngIf="item.expanded==true">

          <ul *ngIf="true">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
          </ul>
        </li>
      </ion-card>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>

  </div>
</ion-content>
