<ion-content [fullscreen]="true">


  <!--
  <ion-card *ngFor="let t of tasks">
    <div *ngFor="let f of t._fields">
      <div *ngFor="let i of [1,2,3]">
        <div *ngFor="let c of f.children">
          <ion-label>{{c.name}}</ion-label>
          <ion-checkbox></ion-checkbox>
          <button (click)="expand(c)">Expand</button>
          <ion-card *ngIf="c.expanded==true">
            <ion-label>{{t.name}}</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-card>
        </div>
      </div>

      </div>





  </ion-card>
-->

  <ul>
    <ng-template #recursiveList let-list>
      <li *ngFor="let item of list">
        {{item.name}}
        <ul *ngIf="true">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
  </ul>

</ion-content>
