<ion-toolbar>
  <ion-title>
    Projects & Tasks
  </ion-title>
  <ion-button size="small" *ngIf="showProjects==false" (click)="toggleShowProjects()" fill="clear" slot="start">
    <ion-icon name="apps-outline"></ion-icon>&nbsp;Show all projects
  </ion-button>
  <ion-button size="small" *ngIf="showProjects==true" (click)="toggleShowProjects()" fill="clear" slot="start">
    <ion-icon name="apps-outline"></ion-icon>&nbsp;Hide all projects
  </ion-button>
  <ion-button size="small" slot="end" fill="clear" (click)="newProject()"><ion-icon name="add-outline"></ion-icon>Add new project</ion-button>
</ion-toolbar>


<ion-content class="ion-padding" [fullscreen]="true">
  <div *ngIf="showProjects==true">
    <ion-grid>
      <ion-row *ngFor="let p of projects">
        <ion-col>
          <ion-card class="ion-padding" [routerLink]="'/tabs/projects/'+p._id.low">
            <ion-title>{{p.name}}</ion-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <router-outlet></router-outlet>

</ion-content>
