<ion-content>

  <ion-text *ngIf="projectMetaData as project">

  </ion-text>

  <ng-template #recursiveList let-list>
    <ion-card *ngFor="let task of list">
      <ion-toolbar>

        <ion-button *ngIf="task.done == true" (click)="openPopover(task)" style="border-radius: 15px;" size="large" color="light" fill="solid" slot="start">
          <ion-icon size="large" color="warning" name="trophy-outline"></ion-icon>
          &nbsp;Done
        </ion-button>

        <ion-button *ngIf="task.done != true" (click)="openPopover(task)" style="border-radius: 15px;" size="large" color="light" fill="solid" slot="start">
          <ion-icon size="large" color="primary" name="hourglass-outline"></ion-icon>
          &nbsp;In progress
        </ion-button>

        <ion-title slot="start">{{task.name}}</ion-title>

        <span slot="end" *ngIf="task.children">
          <ion-button *ngIf="task.expanded!=true" fill="clear" (click)="expand(task)">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>&nbsp;Show subtasks&nbsp; <ion-badge>{{task.children.length}}</ion-badge>
          </ion-button>
        <ion-button *ngIf="task.expanded==true" fill="clear" (click)="expand(task)">
          <ion-icon name="arrow-down-circle-outline"></ion-icon>&nbsp;Hide subtasks&nbsp; <ion-badge>{{task.children.length}}</ion-badge>
        </ion-button>
        </span>
      </ion-toolbar>


      <ion-card-content>
        <ion-label><ion-icon name="hammer-outline"></ion-icon>&nbsp;Has undone tasks</ion-label>

      </ion-card-content>

      <div *ngIf="task.expanded==true">
        <ul *ngIf="true">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: task.children }"></ng-container>
        </ul>
      </div>
    </ion-card>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>

</ion-content>
