<ion-toolbar>
  <ion-title *ngIf="!showUser">Activity for your organization</ion-title>
  <ion-title *ngIf="showUser">Activity for you</ion-title>
  <ion-button size="small" (click)="toggleUser()" *ngIf="showUser" fill="clear"><ion-icon name="people-outline"></ion-icon>&nbsp;Show actions for your organization</ion-button>
  <ion-button size="small" (click)="toggleUser()" *ngIf="!showUser" fill="clear"><ion-icon name="person-outline"></ion-icon>&nbsp;Show actions for you</ion-button>
</ion-toolbar>

<ion-content class="ion-padding">

<ion-grid *ngIf="userActivity!=undefined">
  <ion-row *ngFor="let a of userActivity">
    <ion-col>
      {{a.eventtime}}
    </ion-col>
    <ion-col>
      {{a.actiontype}}
    </ion-col>
    <ion-col>
      {{a.service}}
    </ion-col>
    <ion-col>
      {{a.bodyitems}}
    </ion-col>
    <ion-col>
      {{a.endpoint}}
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
