<ion-toolbar>
  <ion-title *ngIf="!showUser">Activity for your organization</ion-title>
  <ion-title *ngIf="showUser">Activity for you</ion-title>
  <ion-button size="small" (click)="toggleUser()" *ngIf="showUser" fill="clear">
    <ion-icon name="people-outline"></ion-icon>&nbsp;Show actions for your organization
  </ion-button>
  <ion-button size="small" (click)="toggleUser()" *ngIf="!showUser" fill="clear">
    <ion-icon name="person-outline"></ion-icon>&nbsp;Show actions for you
  </ion-button>


  <ion-item color="transparent" slot="end" lines="none">
    <ion-toggle [(ngModel)]="filterReads"></ion-toggle>
    Filter reads

  </ion-item>

</ion-toolbar>

<ion-content class="ion-padding">



  <ion-grid *ngIf="activities!=undefined">
<ion-row>
  <ion-col size="10">

  </ion-col>
  <ion-col size="2">
    <ion-label position="floating"># Results</ion-label>
    <ion-input placeholder="Results to show" type="number" [formControl]="results"></ion-input>
  </ion-col>

</ion-row>
    <ion-row>
      <ion-col size="2">
        <b>Time</b>
      </ion-col>
      <ion-col size="1">
        <b>Type</b>
      </ion-col>
      <ion-col size="1">
        <b>Service</b>
      </ion-col>
      <ion-col size="4">
        <b>Body items</b>
      </ion-col>
      <ion-col size="4">
        <b>Endpoint</b>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let a of activities">
      <section style="display: contents;" *ngIf="!(a.actiontype=='GET' && filterReads)">
        <ion-col size="2">
          {{a.eventtime.toLocaleDateString()}}<br>
          {{a.eventtime.toLocaleTimeString()}}

        </ion-col>
        <ion-col size="1">
          {{a.actiontype}}
        </ion-col>
        <ion-col size="1">
          {{a.service}}
        </ion-col>
        <ion-col size="4">
      <span *ngIf="a.actiontype!='GET'">
        {{a.bodyitems}}
      </span>
        </ion-col>
        <ion-col size="4">
          {{a.endpoint}}
        </ion-col>
      </section>

    </ion-row>
  </ion-grid>

</ion-content>

